# Question 1
What's the version of NumPy that you installed?

In [4]:
import numpy as np
import pandas as pd
np.__version__

# the numpy version is 1.20.3

'1.20.3'

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv')

In [6]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

# Question 2
How many records are in the dataset?

In [7]:
df.shape

# the total records in the dataset is 11.914

(11914, 16)

# Question 3
Who are the most frequent car manufacturers (top-3) according to the dataset?

In [14]:
df.Make.value_counts().head(3)

# the most frequent car manufacturers are Chevrolet, Ford, and Volkswagen

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

# Question 4
What's the number of unique Audi car models in the dataset?

In [19]:
df[df.Make == 'Audi'].Model.nunique()

# The total models in Audi are 34

34

# Question 5
How many columns in the dataset have missing values?

In [32]:
len(df.columns[df.isnull().sum() > 0])

# There are 5 columns that has missing values

5

# Question 6
1. Find the median value of "Engine Cylinders" column in the dataset.
2. Next, calculate the most frequent value of the same "Engine Cylinders".
3. Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
4. Now, calculate the median value of "Engine Cylinders" once again.

In [36]:
df['Engine Cylinders'].median()

# Current Engine Cylinders median is 6

6.0

In [37]:
df['Engine Cylinders'].mode()

# The most frequent value is 4

0    4.0
dtype: float64

In [52]:
most_freq_val = df['Engine Cylinders'].mode()
df['Engine Cylinders'].fillna(most_freq_val.values[0], inplace=True)

In [53]:
df['Engine Cylinders'].median()

# The median still the same

6.0

# Question 7
1. Select all the 'Lotus' cars from the dataset.
2. Select only columns 'Engine HP', 'Engine Cylinders'.
3. Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Invert XTX.
7. Create an array y with values [1100, 800, 750, 1300, 1000, 1000, 1300, 800].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9. What's the value of the first element of w?

In [74]:
X = df.loc[df.Make == 'Lotus', ['Engine HP', 'Engine Cylinders']].drop_duplicates()
X = X.values
X

array([[189.,   4.],
       [218.,   4.],
       [217.,   4.],
       [350.,   8.],
       [400.,   6.],
       [276.,   6.],
       [345.,   6.],
       [257.,   4.],
       [240.,   4.]])

In [75]:
X.T

array([[189., 218., 217., 350., 400., 276., 345., 257., 240.],
       [  4.,   4.,   4.,   8.,   6.,   6.,   6.,   4.,   4.]])

In [76]:
XTX = X.T.dot(X)
XTX

array([[7.31684e+05, 1.34100e+04],
       [1.34100e+04, 2.52000e+02]])

In [77]:
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 5.53084235e-05, -2.94319825e-03],
       [-2.94319825e-03,  1.60588447e-01]])

In [78]:
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

In [85]:
w = XTX_inv.dot(X.T).dot(y)
w

array([  4.59494481, -63.56432501])

In [87]:
w[0]

# The first element of w is 4.59

4.594944810094551